.all-history{
    .main-history{
        margin-left: 22%;
        margin-top: -40%;

        .titles{
            display: flex;
            justify-content: space-between;
        }
    }
}